
@{
    Categories category = (Categories)ViewBag.CategoryName;
    ViewBag.Title = category.Name;
}
@using ECommerceWeb.Models
@model List<Products>
<link href="~/Content/styles.css" rel="stylesheet" />
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Custom jumbotron</h1>
        <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
        <button class="btn btn-primary btn-lg" type="button">Example button</button>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Categories</h2>
        <ul class="list-group">
            @foreach (Categories item in (List<Categories>)ViewBag.Categories)
            {
                @Html.ActionLink(item.Name, "Category", new { id = item.CategoryId }, new { @class = "list-group-item list-group-item-action" })
            }
        </ul>

    </div>
    <div class="col-md-8">
        <h2>Products</h2>
        <div class="row">
            @foreach (Products item in Model)
            {
                <div class="col-md-4" style="border:1px solid;">
                    <h5>@item.Name</h5>
                    <img src="~/Images/@(item.ProductId + ".jpg")" class="img-thumbnail "  />
                    <div class="row">
                        <div class="col-md-6"> <p> <a href="Home/Product/@item.ProductId" class="btn btn-primary">Details</a></p></div>
                        <div class="col-md-6">  <span style="float:right">@item.Price $</span></div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>