@{
    ViewBag.Title = "Home Page";
}
@using ECommerceWeb.Models

<div class="p-3 mb-6 bg-light rounded-4">
    <div class="container-fluid py-5">
        <h1 class="display-7 fw-bold">E-Commerce</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Categories</h2>
        <ul class="list-group">
            @foreach (Categories item in (List<Categories>)ViewBag.Categories)
            {
                @Html.ActionLink(item.Name, "Category", new { id = item.CategoryId }, new { @class = "list-group-item list-group-item-action" })
            }
        </ul>

    </div>

    <div class="col-md-8">
        <h2>Products</h2>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (Products item in (List<Products>)ViewBag.Products)
            {
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <img src="~/Images/@(item.ProductId + ".jpg")" class="card-img-top" alt="...">
                            <div class="row">
                                <h5 class="card-title">@item.Name</h5>
                                <p class="card-text">@item.Description</p>
                                <p> <a href="/Home/Product/@item.ProductId" class="btn btn-primary stretched-link"> Add To Cart </a><span style="float:right">@item.Price $</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>